.dialogs {
    display: grid;
    grid-template-columns: 2fr  10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {
    color: white;
    text-decoration: none;
}

.dialogsItems .active {
    color: goldenrod;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
    text-decoration: none;
}